body{
    background-color:rgb(240, 181, 201);
    font-family: 'Rubik', sans-serif;
    
}
header {
    font-weight: bold;
    position: fixed;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 228, 211);
    left: 0;
    top: 0;
    }
a {
    text-decoration: none;
    text-transform: capitalize;
    }
.header-logo {
    width: 120px;
    margin-left: 10px ;
    
}
.header-nav {
    display: flex;
    margin-right: 200px;
    gap: 100px;
    
    
    }

.nav-item {
    color: rgba(122, 57, 184,.8);
    position: relative;
    justify-content : space-around;
    text-shadow: 2.5px 2.5px rgba(224, 114, 191,.6);
    font-size:30px;
    
    
}
.nav-item:hover {
    color: rgb(122, 57, 184);
    position: relative;
    text-shadow: 2.5px 2.5px rgba(196, 91, 164, 0.6);
}

form {
    margin: 150px 150px 20px 90px;
    box-sizing: border-box;
    float: left;
  }
  
  input[type=text], select {
    width:250px;
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    background-color: rgb(241, 228, 211);
  }  
  button {
    width: 100%;
    background-color: rgb(241, 228, 211);
    color: rgb(122, 57, 184);
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:rgba(131, 75, 114, 0.1);
    color: antiquewhite;
  }

  #foodTable {
    margin: 170px 10px ;
    border-collapse: collapse;
    width: 500px;
    float:left;
    border-radius: 10px;
    
  }
  
  #foodTable td, #foodTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #foodTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #foodTable tr:hover {background-color: #ddd;}
  
  #foodTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(218, 193, 162,.8);
    color: rgb(122, 57, 184);
    font-size: 15px;
    font-weight: bold;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(199, 166, 123);
    justify-content: space-between;
    color: rgba(94, 55, 131, 0.8);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    height: 40px;
}

.footer p{
    float:center; 
    margin: 10px 0px;  
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
    border-radius: 50%;
    float: left;
    color: rgba(94, 55, 131, 0.8);    
}
.fa:hover {
    opacity: 0.7;
}